/* @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #f8f4ec;
  --foreground: #12100d;
}

.dark{
  --background: #111;
  --foreground: #f8f4ec;

}
html {
scrollbar-width: none;
}

html::-webkit-scrollbar {
display: none;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "inter", sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
  cursor: none;
}

.encode-sans {
  font-family: "Encode Sans Expanded", sans-serif;
}
.bricolage-grotesque {
  font-family: "Bricolage Grotesque", sans-serif;
}
.inter {
  font-family: "inter", sans-serif;
}


  /* @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  } */

@keyframes blink-cursor {
  0%,100%{opacity: 1;}
  50%{opacity: 0;}
}
  @keyframes shake {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-8deg);
  }
  75% {
    transform: rotate(8deg);
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.minimal-scrollbar::-webkit-scrollbar{
  width: 5px;
}
.minimal-scrollbar::-webkit-scrollbar-thumb{
  border-radius: 4px;
  background-color: #ff5a36;
}